# Lambda Functions - Lab

## Introduction

In this lab, you'll get some hands-on practice creating and using lambda functions.

## Objectives
In this lab you will: 
* Create lambda functions to use as arguments of other functions   
* Use the `.map()` or `.apply()` method to apply a function to a pandas series or DataFrame

## Lambda Functions

In [31]:
import pandas as pd
df = pd.read_csv('Yelp_Reviews.csv', index_col=0)
df.head(2)

,business_id,cool,date,funny,review_id,stars,text,useful,user_id
1,pomGBqfbxcqPv14c3XH-ZQ,0,2012-11-13,0,dDl8zu1vWPdKGihJrwQbpw,5,I love this place! My fiance And I go here atl...,0,msQe1u7Z_XuqjGoqhB0J5g
2,jtQARsP6P-LbkyjbO1qNGg,1,2014-10-23,1,LZp4UX5zK3e-c5ZGSeo3kA,1,Terrible. Dry corn bread. Rib tips were all fa...,3,msQe1u7Z_XuqjGoqhB0J5g

## Simple arithmetic

Use a lambda function to create a new column called `'stars_squared'` by squaring the stars column.

In [32]:
# Your code here
df['stars_squared'] = df['stars'].map(lambda x: x ** 2)
df.head(2)

,business_id,cool,date,funny,review_id,stars,text,useful,user_id,stars_squared
1,pomGBqfbxcqPv14c3XH-ZQ,0,2012-11-13,0,dDl8zu1vWPdKGihJrwQbpw,5,I love this place! My fiance And I go here atl...,0,msQe1u7Z_XuqjGoqhB0J5g,25
2,jtQARsP6P-LbkyjbO1qNGg,1,2014-10-23,1,LZp4UX5zK3e-c5ZGSeo3kA,1,Terrible. Dry corn bread. Rib tips were all fa...,3,msQe1u7Z_XuqjGoqhB0J5g,1

## Dates
Select the month from the date string using a lambda function.

In [33]:
# Your code here
df['date'].map(lambda x: x[5:7])

1       11
2       10
4       09
5       02
10      06
11      09
12      08
19      08
25      11
26      11
27      12
28      02
29      02
30      02
31      02
32      06
35      11
40      11
41      11
42      01
74      11
79      05
83      05
92      10
95      04
102     04
172     11
179     04
180     03
182     02
        ..
1992    09
2934    07
3307    07
1808    10
4811    06
1465    10
3506    06
2799    08
3126    07
1424    03
541     10
1668    07
1655    08
2775    08
404     08
2914    02
506     07
4198    08
121     08
3225    01
4674    06
4719    01
3440    05
4812    03
1970    11
689     06
4874    08
564     06
3458    10
4206    08
Name: date, Length: 2610, dtype: object

## What is the average number of words for a yelp review?
Do this with a single line of code!

In [34]:
# Your code here
df['text'].map(lambda x: len(x.split())).mean()

77.06551724137931

## Create a new column for the number of words in the review

In [35]:
## Your code here
df['num_words'] = df['text'].map(lambda x: len(x.split()))
df.head(1)

,business_id,cool,date,funny,review_id,stars,text,useful,user_id,stars_squared,num_words
1,pomGBqfbxcqPv14c3XH-ZQ,0,2012-11-13,0,dDl8zu1vWPdKGihJrwQbpw,5,I love this place! My fiance And I go here atl...,0,msQe1u7Z_XuqjGoqhB0J5g,25,58

## Rewrite the following as a lambda function

Create a new column `'Review_Length'` by applying this lambda function to the `'Review_num_words'` column.

In [38]:
# Rewrite the following function as a lambda function
def rewrite_as_lambda(value):
    if len(value) < 50:
        return 'Short'
    elif len(value) < 80:
        return 'Medium'
    else:
        return 'Long'
# Hint: nest your if, else conditionals

df['Review_length'] = df['num_words'].map(lambda x: 'Short' if x < 50 \
                                                else 'Medium' if x > 80 \
                                                else 'Long')
df.head()

,business_id,cool,date,funny,review_id,stars,text,useful,user_id,stars_squared,num_words,Review_length
1,pomGBqfbxcqPv14c3XH-ZQ,0,2012-11-13,0,dDl8zu1vWPdKGihJrwQbpw,5,I love this place! My fiance And I go here atl...,0,msQe1u7Z_XuqjGoqhB0J5g,25,58,Long
2,jtQARsP6P-LbkyjbO1qNGg,1,2014-10-23,1,LZp4UX5zK3e-c5ZGSeo3kA,1,Terrible. Dry corn bread. Rib tips were all fa...,3,msQe1u7Z_XuqjGoqhB0J5g,1,30,Short
4,Ums3gaP2qM3W1XcA5r6SsQ,0,2014-09-05,0,jsDu6QEJHbwP2Blom1PLCA,5,Delicious healthy food. The steak is amazing. ...,0,msQe1u7Z_XuqjGoqhB0J5g,25,30,Short
5,vgfcTvK81oD4r50NMjU2Ag,0,2011-02-25,0,pfavA0hr3nyqO61oupj-lA,1,This place sucks. The customer service is horr...,2,msQe1u7Z_XuqjGoqhB0J5g,1,82,Medium
10,yFumR3CWzpfvTH2FCthvVw,0,2016-06-15,0,STiFMww2z31siPY7BWNC2g,5,I have been an Emerald Club member for a numbe...,0,TlvV-xJhmh7LCwJYXkV-cg,25,32,Short

## Level Up: Dates Advanced!
<img src="images/world_map.png" width="600">  

Print the first five rows of the `'date'` column.

In [25]:
# Your code here
df.date.head()

1     2012-11-13
2     2014-10-23
4     2014-09-05
5     2011-02-25
10    2016-06-15
Name: date, dtype: object

Overwrite the `'date'` column by reordering the month and day from `YYYY-MM-DD` to `DD-MM-YYYY`. Try to do this using a lambda function.

In [29]:
# Your code here
df['temp'] = df.date.apply(lambda x: str(x[10-12] + '-' + x[5:7] + '-' + x[0:4]))
df.date = df.temp
df.date.head()

1     1-11-2012
2     2-10-2014
4     0-09-2014
5     2-02-2011
10    1-06-2016
Name: date, dtype: object

## Summary

Great! Hopefully, you're getting the hang of lambda functions now! It's important not to overuse them - it will often make more sense to define a function so that it's reusable elsewhere. But whenever you need to quickly apply some simple processing to a collection of data you have a new technique that will help you to do just that. It'll also be useful if you're reading someone else's code that happens to use lambdas.